  @import url('https://fonts.googleapis.com/css?family=Passion+One|Yantramanav:300');
  
  body{
    background-image: url('../style/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Passion One';
    /*border: 1px solid white;*/
  }

  .navbar{
    background-color: black !important;
    height: 20px;
  }
  .menu {
    color:white !important;
  }  

  .wrapper {
    /*border: 1px dashed white;*/
  }

  .main-content{
    height: 600px;
    min-width: 900px;
    margin-left:250px;
    margin-top:100px;
    /*background-color: grey;*/
    background-image: url("../style/images/mac.png");
    background-size: 100% 100%;
    /*border: 2px solid white;*/
  }

  #title{
    margin-left:10px;
    margin-bottom:35px;
  } 

  #profile-img{
    width:250px;
    height:330px;
    float: left;
    position: relative;
    left: 100px;
    top: 60px;
    border-radius: 5px;
  }

  .intro{
    min-width:50px;
    margin:40px 0 0 120px;
    color: #D2D2D2;
  }

  #narrative{
    font-family: 'Yantramanav', sans-serif;
    min-width: 100px;

  }

  ul{
    padding-left: 0;
    list-style: none;
  }

  .contact{
    margin-top:40px;
  }
  #email, #linkedin, #cell {
    margin-right:10px;
  }

  span,a{
    color: black;
  }
  li{
    margin-bottom: 10px;
  }

  li > span{
    color:white;
  }

  a.linkedin-link {
    color:#FFFFFF;
    }
  a:hover {
    color:#F00F00 !important;
    text-decoration:none !important;
  }

/*------------------------------ home page end ----------------------*/



/*------------------------------ portfolio ----------------------*/

  .collection{
    height: 800px;
    background-image: url();
    background-repeat: no-repeat;
    background-size:1200px 690px;
    background-position:100px;
    /*margin-bottom: 50px;    */
  }

  .project{
    /*height: 400px;*/
    margin-bottom:10px;
  }
  /*.project:nth-child(odd) > img{
    float:right;
  }*/

  /*.project-desc{
    color:white;
    margin-top:90px;
    border: 1px solid blue;
    height: 250px;
  }*/
  .project-header{
    text-align: center;
    height: 320px;
  }

  #project-title {
    margin-top:0;
    margin-bottom: 30px;
    color: white;
  }

  .project-cover{
    margin-bottom:10px;
  }

  #url{
    color: white;
  }
  
  #stack-image{
    border-radius: 80%;
  }


.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  .carousel-indicators{
    position:relative;
    top: 700px; 
  }

  .screenshot{
    width:460px; 
    height:345px;
    margin-top:25px !important;
    border-radius: 10px;
  }

  h3#description{
    margin-top:50px;
    margin-bottom:50px;
    color:black;
  }

.temp{
  height: 500px;
  background-color: white;
  background-image: url("")
}

img#stack{
  border-radius: 60px;
  margin-bottom: 30px;
}
a.project-url{
  font-size: 1.5em;
}

  


