@import url('https://fonts.googleapis.com/css?family=Actor|Didact+Gothic|Heebo');
  
  body{
    background-image: url('../style/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /*font-family: 'Actor';*/
  }
  h2{
    color: #AEAEAE !important;
    /*font-size: 3em !important;*/
  }

  .navbar{
    /*width:100%;*/
    min-width: 500px;
    background-color: black !important;
    height: 20px;
  }
  .menu {
    color:white !important;
  }

  .dropdown-menu{
    width:20px !important;
  }  

  .jumbotron{
    height: 750px;
    background-image: url("../style/images/jeju_bw.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border:1px solid grey;
  }

  .fadein{
    -webkit-animation: fadein 2.5s; /* Safari and Chrome */
    -moz-animation: fadein 2.5s; /* Firefox */
    -ms-animation: fadein 2.5s; /* Internet Explorer */
    -o-animation: fadein 2.5s; /* Opera */
    animation: fadein 2.5s;
  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

  .greet{
    width:70%;
    margin:470px 0 0 0;
    text-align: center;
  }
  #job-title{
    font-size: 2.5em;
    color:white;
  }
  #name{
    font-size: 4.5em;
    font-weight:initial;
  } 

  .container{
    height: 400px;
    /*border:1px solid red;*/
  }

  #narrative{
    width: 400px;
    color: white;
    font-weight: lighter;
    line-height: 150%;
    letter-spacing: 0.1em;
    margin-bottom:0 auto;
  }
  
  ul{
    padding-left: 0;
    list-style: none;
  }

  .desc{
  }

  #email, #linkedin, #cell, #bullet {
    margin-right:10px;
  }

  span,a{
    color: black;
  }
  li{
    margin-bottom: 10px;
  }

  li > span{
    color: white;
  }

  .linkedin-link,.email {
    color:white;
    }
  a:hover {
    color:#F00F00 !important;
    text-decoration:none !important;
  }

/*------------------------------ home page end ----------------------*/

/*------------------------------ portfolio ----------------------*/

  .collection{
    height: 1000px;
    background-image: url();
    background-repeat: no-repeat;
    background-size:1200px 690px;
    background-position:100px;
    /*display: none;*/
  }

  .project{
    margin-bottom:10px;
  }
  
  .project-header{
    text-align: center;
    height: 320px;
  }

  #project-title {
    font-size: 4em;
    margin:90px 0 30px 0;
    color: white;
  }

  .project-cover{
    margin-bottom:10px;
  }

  #url{
    color: white;
  }
  
  #stack-image{
    border-radius: 80%;
  }


  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  .carousel-indicators{
    position:relative;
    top: 700px; 
  }

.screenshot{
    width:460px; 
    height:345px;
    margin-top:25px !important;
    border-radius: 10px;
  }

h4#app-desc{
    margin-top:20px;
    margin-bottom:100px;
    color:black;
  }

.tech{
  min-width:1000px;
  background-color: white;
  background-image: url("");
}

img#tech-image{
  margin:0 0 0 120px;
  float: left;
}


span.glyphicon {
  color: white !important;
}

.tech-desc{
  width:900px;
  height: 400px;
  margin: 0 auto; 
  margin-top:50px;
}

#tech-info{
  height: 300px;
  padding: 50px 0 0 0;
}
li > em{
  font-size: 2em;
  font-weight: bold;
  color:#6C8ED2;
}
  
a.project-url{
  position: relative;
  top:-30px;
  font-size: 1em;
}

/* resume */

.resume-preview{
  margin:100px 0 100px 0;
}

.download{
  color:white !important;
}

#resume {
  width: 700px;
  height: 900px;
  border-radius: 2px;
  margin:50px 0 50px 0;
}


