@import url('https://fonts.googleapis.com/css?family=Actor|Didact+Gothic|Heebo');
  
  body{
    background-image: url('../style/images/background.jpg');
    background-repeat:repeat;
    background-size: cover;
    font-family: 'Actor';
  }
  h2{
    color: #AEAEAE !important;
    font-weight: lighter !important;
    /*font-size: 3em !important;*/
  }

  .navbar,.dropdown-default,.menu{
    background-color: black !important;
  }

  .dropdown-menu{
    text-align: center !important;
  }

  .jumbotron{
    height: 670px;
    background-image: url("../style/images/jeju_bw.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 0px !important;
  }

  .fadein{
    -webkit-animation: fadein 2.5s; /* Safari and Chrome */
    -moz-animation: fadein 2.5s; /* Firefox */
    -ms-animation: fadein 2.5s; /* Internet Explorer */
    -o-animation: fadein 2.5s; /* Opera */
    animation: fadein 2.5s;
  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

  .greet{
    margin:400px 0 0 0;
  }

  #job-title{
    font-size: 2.5em;
    color:white;
  }
  #name{
    font-size: 4.5em;
  } 

  #narrative{
    width: 400px;
    color: white;
    font-weight: lighter;
    line-height: 150%;
    letter-spacing: 0.1em;
    margin-bottom:0 auto;
  }
  
  ul{
    padding-left: 0;
    list-style: none;
  }

  #email, #linkedin, #cell, #bullet {
    margin-right:10px;
  }

  span{
    color:black;
  }

  li > span{
    color: white;
  }
  .widget{
    width: 350px;
  }
  .weather{
    width:360px;
  }

  .linkedin-link,.email,.caret {
    color:white;
  }
  a{
    color: #ededed !important;
    text-decoration: none !important;
  }
  a:hover {
    color:grey !important;
    text-decoration:none !important;
  }

  #project-title {
    margin: 100px 0 50px 0;
    text-align: center;
  }

  #system-header{
    margin: 20px 0 20px 0;
  }

  #url{
    color: white;
  }
  
  #stack-image{
    border-radius: 80%;
  }

  .tech-wrapper{
    background-color: white;
    margin-top:50px;
  }
  .screen{
    margin-bottom: 0px !important;
  }
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

#systemDesign{
  margin-bottom:30px;
}  

h4#app-desc{
    margin-top:20px;
    margin-bottom:100px;
    color:black;
  }

span.glyphicon {
  color: white !important;
}

#tech-desc{
 margin:10px 0 10px 0;
}

#tech-info{
 margin-top: 50px;
}

li > em{
  font-size: 2em;
  font-weight: bold;
  color:#6C8ED2;
}
  
a.project-url{
  color:black !important;
}

/* resume */

.resume-preview{
  margin:100px 0 100px 0;
}

.download{
  color:white !important;
}

#resume {
  width: 700px;
  height: 900px;
  border-radius: 2px;
  margin:50px 0 50px 0;
}

#suffle{
  margin-top: 100px;
}

.photo {
    position: relative;
  }
.title{
  position: absolute;
  bottom:20px;
  left:0px;
  text-align: center;
  right:0px;
  font-size:2em;
  font-weight: bold;
  color:#979797;
  display: none;
}
.photos {
  margin:auto;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

.row1{
  background-image: url("https://s3-us-west-1.amazonaws.com/taegyudocs/systembg_2.jpg");
  background-color: white !important;
  background-repeat:no-repeat;
  /*background-size: 90% 90% !important;*/
  background-size: cover;
}
i{
 font-size: 60px; 
}
#download{
  font-size: 30px;
}
