  @import url('https://fonts.googleapis.com/css?family=Passion+One|Yantramanav:300');
  
  body{
    background-image: url('../style/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Passion One';
  }

  .navbar{
    background-color: black !important;
    height: 20px;
  }
  .menu {
    color:white !important;
  }  


  .main-content{
    height: 600px;
    min-width: 900px;
    margin-top:200px;
    background-image: url("../style/images/mac.png");
    background-size: 1000px 700px;
    background-repeat: no-repeat;
    background-position: center;
  }

  #title{
    margin-left:10px;
    margin-bottom:35px;
  } 

  #profile-img{
    width:260px;
    height:350px;
    float: left;
    position: relative;
    left: 15px;
    top: 0px;
    border-radius: 5px;
  }

  .intro{
    width: 800px;
    height: 400px;
    min-width:50px;
    margin:0 auto;
    color: #D2D2D2;
  }

  #narrative{
    font-family: 'Yantramanav', sans-serif;
    margin-bottom:80px;
    min-width: 100px;
  }

  ul{
    padding-left: 0;
    list-style: none;
  }

  .desc{
    width:480px;
    height: 400px;
    margin:40px 0 0 300px;
  }

  #email, #linkedin, #cell {
    margin-right:10px;
  }

  span,a{
    color: black;
  }
  li{
    margin-bottom: 10px;
  }

  li > span{
    color:white;
  }

  a.linkedin-link {
    color:#FFFFFF;
    }
  a:hover {
    color:#F00F00 !important;
    text-decoration:none !important;
  }

/*------------------------------ home page end ----------------------*/



/*------------------------------ portfolio ----------------------*/

  .collection{
    height: 800px;
    background-image: url();
    background-repeat: no-repeat;
    background-size:1200px 690px;
    background-position:100px;
  }

  .project{
    margin-bottom:10px;
  }
  
  .project-header{
    text-align: center;
    height: 320px;
  }

  #project-title {
    margin-top:0;
    margin-bottom: 30px;
    color: white;
  }

  .project-cover{
    margin-bottom:10px;
  }

  #url{
    color: white;
  }
  
  #stack-image{
    border-radius: 80%;
  }


  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  .carousel-indicators{
    position:relative;
    top: 700px; 
  }

.screenshot{
    width:460px; 
    height:345px;
    margin-top:25px !important;
    border-radius: 10px;
  }

h3#description{
    margin-top:50px;
    margin-bottom:50px;
    color:black;
  }

.temp{
  height: 500px;
  background-color: white;
  background-image: url("")
}

img#stack{
  border-radius: 60px;
  margin-bottom: 30px;
}

a.project-url{
  font-size: 1.5em;
}

span.glyphicon {
  color: white !important;
}

  


