  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand menu" href="#">TAEGYU LEEM</a>
      </div>
        <ul class="nav navbar-nav">
          <li><a class="menu" href="#">Home</a></li>
          <li class="dropdown">
              <a class="menu dropdown-toggle" data-toggle="dropdown" href="/#!/">Portfolio</a>
                <ul class="dropdown-menu">
                  <li><a href="/#!/thegauntlet">Thegauntlet</a></li>
                  <li><a href="#">Wefit.ly</a></li>
                  <li><a href="/#!/mykicks">MyKicks</a></li>
                </ul>
          </li>
          <li><a class="menu" href="/#!/blog">Blog</a></li>
        </ul>
    </div>
  </nav>

  <div class="container-fluid wrapper">      
    <div class="row">
      <div class="col-sm-8 main-content">
          <img id="profile-img" src="../style/images/profile.jpg" alt="profile image" >
            <div class="col-sm-6 intro">
               <h1 id="title">Software engineer</h2>
              <p id="narrative">
                Hello world! my name is TAEGYU LEEM (TERRY).<br/>
                A full stack developer with aspirations of making web applications
                to our lives more enjoyable. I am a very active and social person. 
                feel free to reach me out if i seem fit for your next project or looking
                for someone to hire! :)
              </p>
              <div class="contact">
                <h4>Contact</h4>
                <ul>
                  <li><img id="email" src="../style/images/gmailIcon.png" alt="" width="20px" height="20px"><span>closer124@gmail.com</span><br/></li>
                  <li><img id="linkedin" src="../style/images/linkedinIcon.png" alt="" width="20px" height="20px"><a class="linkedin-link" href="https://www.linkedin.com/in/impersin">www.linkedin.com/in/impersin<a><br/></li>
                  <li><img id="cell" src="../style/images/phoneIcon.png" alt="" width="20px" height="20px"><span>(925)577-1355</span></li>
                </ul>    
              </div>
            </div>
      </div>    
    </div>
</div>