  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand menu" href="#">TAEGYU LEEM</a>
      </div>
        <ul class="nav navbar-nav">
          <li><a class="menu" href="#">Home</a></li>
          <li class="dropdown">
              <a class="menu dropdown-toggle" data-toggle="dropdown" href="/#!/{{portfolio.path}}">Portfolio</a>
                <ul class="dropdown-menu">
                  <li><a href="/#!/thegauntlet">Thegauntlet</a></li>
                  <li><a href="/#!/wefitly">Wefit.ly</a></li>
                  <li><a href="/#!/mykicks">MyKicks</a></li>
                </ul>
          </li>
          <li><a class="menu" href="/#/blog">Blog</a></li>
        </ul>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 collection text-center">
            <h1 id="project-title">{{portfolio.title}}</h1>
              <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                  <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img class="screenshot" src="../style/images/{{portfolio.path}}/{{portfolio.images[0]}}">
                  </div>

                  <div class="item">
                    <img class="screenshot" src="../style/images/{{portfolio.path}}/{{portfolio.images[1]}}" alt="Chania" width="460" height="345">
                  </div>
                
                  <div class="item">
                    <img class="screenshot" src="../style/images/{{portfolio.path}}/{{portfolio.images[2]}}" alt="Flower" width="460" height="345">
                  </div>

                  <div class="item">
                    <img class="screenshot" src="../style/images/{{portfolio.path}}/{{portfolio.images[3]}}" alt="Flower" width="460" height="345">
                  </div>
                </div>
              </div>
            <!--<h4 id="description">{{portfolio.desc}}</h4>-->
        </div>
    </div>
     <div class="col-sm-12 temp text-center"><div>
       <h4 id="description">{{portfolio.desc}}</h4>
       <div>
          <h1> TEACHNOLOGY </h1>
          <img id="stack" src="../style/images/{{portfolio.path}}/{{portfolio.stack}}" alt="">
       </div>
       <a class="project-url" href="https://the-gauntlet2.herokuapp.com">https://the-gauntlet2.herokuapp.com<a>   
  </div>