  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <span class="navbar-brand menu">Welcome</span>
      </div>
        <ul class="nav navbar-nav">
          <li><a class="menu" href="#">Home</a></li>
          <li class="dropdown">
              <a class="menu dropdown-toggle" data-toggle="dropdown" href="">Portfolio</a>
                <ul class="dropdown-menu">
                  <li><a class="navLink" href="/#!/thegauntlet">Thegauntlet</a></li>
                  <li><a class="navLink" href="/#!/wefitly">Wefit.ly</a></li>
                  <li><a class="navLink" href="/#!/mykicks">MyKicks</a></li>
                </ul>
          </li>
          <li><a class="menu" href="/#!/blog">Blog</a></li>
          <li class="dropdown">
              <a class="menu dropdown-toggle" data-toggle="dropdown" href="">Resume</a>
                <ul class="dropdown-menu">
                  <li><a class="navLink" href="/#!/resume">Preview</a></li>
                  <li><a class="navLink" href="../style/images/TaegyuLeemResume.pdf" download>Download</a></li>
                </ul>
        </ul>
    </div>
  </nav>
  <div class="container-fluid text-center">
      <div class="resume-preview fadein">
      <img id="resume" src="../style/images/resume.png" alt=""><br/>
        <p>
          <a class="download" href="../style/images/TaegyuLeemResume.pdf" download>Download</a>
        </p>
      </div>
  </div>